<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!DOCTYPE ROOT PUBLIC "" ""[]>
<Spread>
  <Item CheckForPingBack="True" CMDArgs="-m" ExecutorArguments="-o &quot;C:\Users\elektromeier\Desktop\VVVVatchdog\ExamplePatches\TestPatch2.vl&quot; --package-repositories &quot;&quot; -m" ExecutorFilename="C:\Program Files\vvvv\vvvv_gamma_6.7\vvvv.exe" FPSChangeTime="1.1999809" IsNotCompiled="True" PatchActive="True" PID="-1" Ping_Intervall="5" Ping_Timeout="19" RemainingTimeOut="13.816737" RestartWaitTime="14" VLPath="C:\Users\elektromeier\Desktop\VVVVatchdog\ExamplePatches\TestPatch2.vl" VVVVPath="C:\Program Files\vvvv\vvvv_gamma_6.7\vvvv.exe">
    <PingBackPackage ApplicationPath="C:\Users\elektromeier\Desktop\VVVVatchdog\ExamplePatches\TestPatch2.vl" Current_Time="16.9294109" FPS="60.00096" FPSChangeTime="1.1999809" PID="25464" ProcessName="vvvv" Source_IP_Port="127.0.0.1:53680" VVVVHostPath="C:\Program Files\vvvv\vvvv_gamma_6.7\vvvv.exe" />
  </Item>
</Spread>